{% extends 'admin/baseAdmin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bower_components/ckeditor/ckeditor.js') }}"></script>
    <script>
        CKEDITOR.replace('about_me_page_text_ca');
        CKEDITOR.replace('about_me_page_text_es');
        CKEDITOR.replace('about_me_page_text_en');
    </script>
{% endblock %}
{% block title %}{% endblock %}
{% block body %}
    <section class="content-header">
        <h1>{{ 'sidebar.aboutMe'|trans }}</h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'sidebar.aboutMe'|trans }}</h3>
            </div>
            <div class="box-body">
                {{ form_start(aboutMeForm, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="nav nav-tabs-custom">
                    <ul class="nav nav-tabs pull-right">
                        <li><a href="#text_en" data-toggle="tab" >{{ 'form.text_en'|trans }}</a></li>
                        <li><a href="#text_ca" data-toggle="tab" >{{ 'form.text_ca'|trans }}</a></li>
                        <li><a href="#text_es" data-toggle="tab">{{ 'form.text_es'|trans }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane in active fade" id="text_en">
                            {{ form_row(aboutMeForm.text_en) }}
                        </div>
                        <div class="tab-pane fade" id="text_ca">
                            {{ form_row(aboutMeForm.text_ca) }}
                        </div>
                        <div class="tab-pane fade" id="text_es">
                            {{ form_row(aboutMeForm.text_es) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">{{ 'form.submit'|trans }}</button>
                {{ form_end(aboutMeForm) }}
            </div>
        </div>
    </section>

{% endblock %}