{% extends 'admin/baseAdmin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block title %}{% endblock %}
{% block body %}
    <section class="content-header">
        <h1>{{ 'sidebar.navbar'|trans }}</h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'sidebar.navbar'|trans }}</h3>
            </div>
            <div class="box-body">
                {% for page in navbar.pages %}
                    <p>{{ page.slug }}</p>
                {% endfor %}
               {# {{ form_start(portofolioForm, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(portofolioForm) }}#}
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">{{ 'form.submit'|trans }}</button>
               {# {{ form_end(portofolioForm) }}#}
            </div>
        </div>
    </section>

{% endblock %}