{% extends 'admin/baseAdmin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')}}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.3/Sortable.min.js" integrity="sha256-uNITVqEk9HNQeW6mAAm2PJwFX2gN45l8a4yocqsFI6I=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/pageArticle.js') }}"></script>
{% endblock %}
{% block leng %}
            <ul class="nav navbar-nav">                        
                  <!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>-->
                <li><a href="{{ path(app.request.attributes.get('_route'), { _locale: 'en', 'id': page.id }) }}"><img class="flag" alt="en"
                                                                                                   src="{{ asset('images/uk.png') }}"/></a>
                </li>
                <li><a href="{{ path(app.request.attributes.get('_route'), { _locale: 'ca', 'id': page.id }) }}"><img class="flag" alt="ca"
                                                                                                   src="{{ asset('images/catalan.png') }}"/></a>
                </li>
                <li><a href="{{ path(app.request.attributes.get('_route'), { _locale: 'es', 'id': page.id }) }}"><img class="flag" alt="es"
                                                                                                   src="{{ asset('images/spain.png') }}"/></a>
                </li>
            </ul>                
{% endblock %}
{% block body %}
    <section class="content-header">
        <h1>{{ 'page_manager.create_page'|trans }}</h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'form.fill'|trans }}</h3>
                <a href="{{ path('list_page') }}" class="btn btn-default pull-right" role="button">{{ 'form.back'|trans }}</a>
            </div>
            <div class="box-body">
                {{ form_start(pageForm) }}
                <div class="row">
                    {{ form_errors(pageForm.slug)}}
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>{{ form_label(pageForm.slug) }}</label>
                            {{ form_widget(pageForm.slug, {'attr': {'class': 'form-control'}})}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{ form_errors(pageForm.titleEn)}}
                    {{ form_errors(pageForm.titleEs)}}
                    {{ form_errors(pageForm.titleCa)}}
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>{{ form_label(pageForm.titleEn) }}</label>
                            {{ form_widget(pageForm.titleEn, {'attr': {'class': 'form-control'}})}}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>{{ form_label(pageForm.titleEs) }}</label>
                            {{ form_widget(pageForm.titleEs, {'attr': {'class': 'form-control'}})}}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>{{ form_label(pageForm.titleCa) }}</label>
                            {{ form_widget(pageForm.titleCa, {'attr': {'class': 'form-control'}})}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success">{{ 'form.submit'|trans }}</button>
                {{ form_end(pageForm) }}
                <div class="row">
                    <div class="col-lg-6">
                        <form action="{{ path('admin_page_add_article', {id: page.id}) }}" method="POST"  id="js-add-article">
                            <div class="form-group">
                                <label>{{ 'article_manager.article_slug'|trans }}</label>
                                <input type="text" class="form-control" name="article_slug" id="article_slug">
                            </div>
                            <button class="btn btn-primary js-add-article" >{{ 'article_manager.create'|trans }}</button>
                        </form>
                    </div>
                    <div class="js-del-message" data-del-message="{{ 'article_manager.delete'|trans }}"></div>
                     <div class="col-lg-6">
                        <label>{{ 'page_manager.list'|trans }}</label>
                        <ul class="list-group small js-article-list" data-url="{{ path('admin_page_list_articles', {id: page.id}) }}"></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}

{% endblock %}

