{% extends 'admin/baseAdmin.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bower_components/ckeditor/ckeditor.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js" integrity="sha512-FHec5aiJzccholLAb1v88kh4/taa6bfNRC5sbgBJJ6CRPX9opkqJKwgCQMOA29qSQXAByfxwiC/7SUGwTQS4ww==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.3/Sortable.min.js" integrity="sha256-uNITVqEk9HNQeW6mAAm2PJwFX2gN45l8a4yocqsFI6I=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/admin.js') }}"></script>
    <script>
        CKEDITOR.replace('article_from_contentEs');
        CKEDITOR.replace('article_from_contentCa');
        CKEDITOR.replace('article_from_contentEn');
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css" integrity="sha512-zoIoZAaHj0iHEOwZZeQnGqpU8Ph4ki9ptyHZFPe+BmILwqAksvwm27hR9dYH4WXjYY/4/mz8YDBCgVqzc2+BJA==" crossorigin="anonymous" />
{% endblock %}    
{% block body %}
    <section class="content-header">
        <h1>{{ 'article_manager.create'|trans }}</h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'form.fill'|trans }}</h3>
                <a href="{{ path('list_article') }}" class="btn btn-default pull-right"
                   role="button">{{ 'form.back'|trans }}</a>
            </div>
            <div class="box-body">
                <div class="row">
                        <div class="col-md-8">
                        <h3>references</h3>
                          {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <form action="{{ path('admin_article_add_reference', {id: article.id}) }}" method="POST" enctype="multipart/form-data" class="dropzone js-reference-dropzone">
                        </form>
                    </div>
                     <div class="col-md-4">
                        <ul class="list-group small js-reference-list" data-url="{{ path('admin_article_list_references', {id: article.id}) }}">
                      
                        </ul>
                    </div>
                </div>           
                {{ form_start(articleForm) }}
                <div class="row">
                    {{ form_errors(articleForm.titleCa) }}
                    {{ form_errors(articleForm.titleEn) }}
                    {{ form_errors(articleForm.titleEs) }}
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_errors(articleForm.position) }}
                            <label>{{ form_label(articleForm.position) }}</label>
                            {{ form_widget(articleForm.position, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_errors(articleForm.slug) }}
                            <label>{{ form_label(articleForm.slug) }}</label>
                            {{ form_widget(articleForm.slug, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        {{ form_errors(articleForm.imageFile) }}
                        <label>{{ form_label(articleForm.imageFile) }}</label>
                        {{ form_widget(articleForm.imageFile) }}
                            {% if articleForm.vars.data.imageFilename|default %}
                                <a href="{{ uploaded_asset(articleForm.vars.data.imagePath) }}" target="_blank">
                                    <img src="{{ articleForm.vars.data.imagePath|imagine_filter('squared_thumbnail_small') }}" height="100">
                                </a>    
                            {% endif %}    
                    </div>
        
                    <div class="col-md-12">
                        <div class="nav nav-tabs-custom">
                            <ul class="nav nav-tabs pull-right">
                                <li><a href="#text_en" data-toggle="tab">{{ 'form.text_en'|trans }}</a></li>
                                <li><a href="#text_ca" data-toggle="tab">{{ 'form.text_ca'|trans }}</a></li>
                                <li><a href="#text_es" data-toggle="tab">{{ 'form.text_es'|trans }}</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane in active fade" id="text_en">
                                    <div class="form-group">
                                        <label>{{ form_label(articleForm.titleEn) }}</label>
                                        {{ form_widget(articleForm.titleEn, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    {{ form_row(articleForm.contentEn) }}
                                </div>
                                <div class="tab-pane  fade" id="text_es">
                                    <div class="form-group">
                                        <label>{{ form_label(articleForm.titleEs) }}</label>
                                        {{ form_widget(articleForm.titleEs, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    {{ form_row(articleForm.contentEs) }}
                                </div>
                                <div class="tab-pane  fade" id="text_ca">
                                    <div class="form-group">
                                        <label>{{ form_label(articleForm.titleCa) }}</label>
                                        {{ form_widget(articleForm.titleCa, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    {{ form_row(articleForm.contentCa) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success">{{ 'form.submit'|trans }}</button>
                {{ form_end(articleForm) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}

{% endblock %}

