{% extends 'front/base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div>
   {#     {% if locale == 'en' %}
            {{ contactPage.textEn|raw }}
        {% endif %}
        {% if locale == 'ca' %}
            {{ contactPage.textCa|raw }}
        {% endif %}#}
    </div>
    <div>
        {{ form_start(mailForm, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(mailForm) }}
        <button type="submit" >{{ 'form.submit'|trans }}</button>
        {{ form_end(mailForm) }}
    </div>
{% endblock %}



