{% extends 'front/base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    {% set locale = app.request.locale %}
    <div class="container row">

            <div class="box-text-content">
                {% for article in contactPage.articles %}  
                {% if locale == 'en' %}
                    <h3>{{ article.titleEn }}</h3>
                    <br>
                    {{ article.contentEn|raw }}   
            {% endif %}
                {% if locale == 'ca' %}
                    <h3>{{ article.titleCa }}</h3>
                    <br>
                    {{ article.contentCa|raw }}
                {% endif %}
                {% if locale == 'es' %}
                    <h3>{{ article.titleEs }}</h3>
                    <br>
                    {{ article.contentEs|raw }}
                {% endif %}
             {% endfor %} 
            </div>
        </div>
        <div class="container row">
            <div class="box2">
                <ul>
                    <li><i class="fa fa-map-marker">&nbsp;&nbsp;Barcelona, ES</i></li>
                </ul>
                <ul>
                    <li><i class="fa fa-envelope">&nbsp;&nbsp;ernest.riccetto@gmail.com</i></li>
                </ul>
                <ul>
                    <li><a href="https://www.facebook.com/EstudiosClaw"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/erethilclaw/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.flickr.com/photos/sr_claw/"><i class="fab fa-flickr"></i></a></li>
                </ul>
            </div>
            <div class="box2">
                {{ form_start(mailForm, {'attr': {'novalidate': 'novalidate'}}) }}
                <div>
                    <div class="form_error">
                        {{ form_errors(mailForm.name) }}
                        {{ form_errors(mailForm.email) }}
                    </div>
                    {{ form_widget(mailForm.name) }}
                    {{ form_widget(mailForm.email) }}
                </div>
                <div>
                    <div class="form_error">
                        {{ form_errors(mailForm.message) }}
                    </div>
                    {{ form_widget(mailForm.message) }}
                </div>
                <button type="submit">{{ 'form.submit'|trans }}</button>
                {{ form_end(mailForm) }}
            </div>
        </div>


{% endblock %}



