<header>
    <img src="" class="logo row" alt="logo">
    <ul class="nav-links row">
        <li><a href="{{ path('front') }}">{{ 'navbar.home'|trans }}</a></li>
        <li><a href="{{ path('aboutMe') }}">{{ 'navbar.aboutMe'|trans }}</a></li>
        <li><a href="{{ path('contact_page') }}">{{ 'navbar.contact'|trans }}</a></li>
    </ul>

    <ul class="nav-links row">
        <li><a href="{{ path(app.request.attributes.get('_route'), { _locale: 'en' }) }}">EN</a></li>
        <li><a href="{{ path(app.request.attributes.get('_route'), { _locale: 'ca' }) }}">CA</a></li>
        <li><a href="{{ path(app.request.attributes.get('_route'), { _locale: 'es' }) }}">ES</a></li>
    </ul>

</header>

