{% extends 'front/base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="box-text-content">
        {% set locale = app.request.locale %}
            {% for article in homePage.articles %} 
                    <img src="{{ article.imagePath|imagine_filter('squared_thumbnail_small') }}">   
                {% if locale == 'en' %}
                    <a href="{{ path('portofolio', {'slug': article.slug}) }}"><h3>{{ article.titleEn }}</h3></a>
                    <br>
                    {{ article.contentEn|raw }}   
            {% endif %}
                {% if locale == 'ca' %}
                    <a href="{{ path('portofolio', {'slug': article.slug}) }}"><h3>{{ article.titleCa }}</h3></a>
                    <br>
                    {{ article.contentCa|raw }}
                {% endif %}
                {% if locale == 'es' %}
                    <a href="{{ path('portofolio', {'slug': article.slug}) }}"><h3>{{ article.titleEs }}</h3></a>
                    <br>
                    {{ article.contentEs|raw }}
                {% endif %}
                <hr>
             {% endfor %} 
        </div>
    </div>
{% endblock %}