{% extends 'front/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/simple-lightbox.css') }}">
    <link rel="stylesheet" href="{{ asset('css/filter-gallery.css') }}">
{% endblock %}

{% block body %}

    <div class="row">
        <div class="sesionGallery ">
            {% for image in portofolioPage.sesionGallery %}
                <a href="{{ asset('uploads/sesionGallery/' ~ image.name) }}"><img src="{{ asset('uploads/sesionGallery/' ~ image.name) }}"/></a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="showGallery column">
            {% for image in portofolioPage.showGallery %}
                <a href="{{ asset('uploads/showGallery/' ~ image.name) }}"><img src="{{ asset('uploads/showGallery/' ~ image.name) }}"/></a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="natureGallery column">
            {% for image in portofolioPage.natureGallery %}
                <a href="{{ asset('uploads/natureGallery/' ~ image.name) }}"><img src="{{ asset('uploads/natureGallery/' ~ image.name) }}"/></a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="eventGallery column">
            {% for image in portofolioPage.eventGallery %}
                <a href="{{ asset('uploads/eventGallery/' ~ image.name) }}"><img src="{{ asset('uploads/eventGallery/' ~ image.name) }}"/></a>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/simple-lightbox.js') }}"></script>
    <script>
        var sesion = new SimpleLightbox('.sesionGallery a', { /* options */});
        var show = new SimpleLightbox('.showGallery a', { /* options */});
        var nature = new SimpleLightbox('.natureGallery a', { /* options */});
        var event = new SimpleLightbox('.eventGallery a', { /* options */});
    </script>
{% endblock %}
