{% extends 'front/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{#    <link rel="stylesheet" href="{{ asset('css/lightbox.min.css') }}">#}

    <link rel="stylesheet" href="{{ asset('css/simple-lightbox.css') }}">
{% endblock %}

{% block body %}

      {#  <h1>naturegallery</h1>
        <div>
            {% for image in portofolioPage.natureGallery %}
                <a href="{{ asset('uploads/natureGallery/' ~ image.name) }}" data-lightbox="nature"><img class="thumb"
                                                                                                         src="{{ asset('uploads/natureGallery/' ~ image.name) }}"/></a>
            {% endfor %}
        </div>#}

    <div class="gallery">
        {% for image in portofolioPage.natureGallery %}
        <a href="{{ asset('uploads/natureGallery/' ~ image.name) }}"><img class="thumb" src="{{ asset('uploads/natureGallery/' ~ image.name) }}" alt="" title=""/></a>
        {% endfor %}
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    <script src="{{ asset('js/lightbox.min.js') }}"></script>#}

    <script src="{{ asset('js/simple-lightbox.js') }}"></script>
<script>
    var lightbox = new SimpleLightbox('.gallery a', { /* options */ });
</script>

{% endblock %}
