{% extends 'front/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/simple-lightbox.js') }}"></script>
    <script>
        var gallery = new SimpleLightbox('.container_portofolio div a', { 
            disableRightClick : true
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/simple-lightbox.css') }}">
    <link rel="stylesheet" href="{{ asset('css/filter-gallery.css') }}">
{% endblock %}

{% block title %}{% endblock %}

{% block leng %}
    <ul class="nav-links">
        <!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>-->
        <li><a href="{{ path(app.request.attributes.get('_route'), { _locale: 'en', 'slug':article.slug }) }}"><img class="flag" alt="en"
                                                                                                   src="{{ asset('images/uk.png') }}"/></a>
        </li>
        <li><a href="{{ path(app.request.attributes.get('_route'), { _locale: 'ca', 'slug':article.slug }) }}"><img class="flag" alt="ca"
                                                                                                   src="{{ asset('images/catalan.png') }}"/></a>
        </li>
        <li><a href="{{ path(app.request.attributes.get('_route'), { _locale: 'es', 'slug':article.slug }) }}"><img class="flag" alt="es"
                                                                                               src="{{ asset('images/spain.png') }}"/></a>
        </li>
    </ul> 
{% endblock %}

{% block body %}
    <div class="container">
        <div class="box-text-content">
            {% set locale = app.request.locale %}
            {% if locale == 'en' %}
                    <h3>{{ article.titleEn }}</h3>
                    <br> 
            {% endif %}
                {% if locale == 'ca' %}
                    <h3>{{ article.titleCa }}</h3>
                    <br>
                {% endif %}
                {% if locale == 'es' %}
                    <h3>{{ article.titleEs }}</h3>
                {% endif %}
        </div>
    </div>            
        <div class="container_portofolio">
         
            {% for reference in article.articleReferences %} 
            <div class="item">    
                <a href="{{ uploaded_asset(reference.filePath) }}" target="_blank">
                    <img src="{{ reference.filePath|imagine_filter('portolio_thumbnail') }}"> 
                </a>
            </div>                                            
            {% endfor %}
        </div>    
    </div>
{% endblock %}